body {
  padding: 0;
  margin: 2em;
  font-family: Verdana, sans-serif;
  background: #FFF;
  color: #000;
}

h1, h1 a, h1 a:link, h1 a:visited { 
  text-decoration: none;
  color: black;
}
h2, h2 a, h2 a:link, h2 a:visited,
h3, h3 a, h3 a:link, h3 a:visited,
li a, li a:link, li a:visited {
  text-decoration: none;
  color: #336;
  margin: 0 0 1em 0;
}

a img { border: 0; }

p a, a:link, p a:visited  {
  text-decoration: none;
}
a:hover  { text-decoration: underline; }

#header {
  margin-bottom: 2em;
  border-bottom: solid silver 1px;
}

#title1 { color: #000099; }
#title2 { color: #006600; }
#title3 { color: gray; }

#main {
  width: 64em;
}

#sidebar {
  padding: 0 4em 0 2em;
  width: 16em;
  font-size: smaller;
  float: right;
}
#sidebar h2 { margin-top: 0.3em; }
#sidebar ul { 
    margin-left: 0px;
    padding: 0px;
} 
#sidebar li {
    margin-top: 0.4em;
    margin-left: 1.66em;
}
#sidebar div { 
	margin-bottom: 3em;
}

#search input {
  background-color: white;
  color: inherit;
  margin-top: 1em;
  border: 1px solid silver;
}

#archives h3 {
  margin-top: 2em;
}
#archives ul {
  padding-left: 0px;
  margin-bottom: 1em; 
}
#archives ul li {
  margin-left: 3em;
}

#content {
  float: left; 
  width: 40em;
}
#content h2 {
  margin-bottom: 0.2em;
}
#content p {
  font-size: 0.9em;
  line-height: 1.5em;
}
#content li {
  font-size: 0.9em;
  line-height: 1.5em;
}

.byline {
  color: gray;
  font-size: x-small;
  /* visual tweak */
  padding-left: 0.14em;
}
.byline p { margin-top: 0px; }

.story p { margin-bottom: 1.4em; }
.story { margin-bottom: 4em; }

pre {
  width: 47em;
  padding: 1em;
  background-color: #eee;
  border: 1px solid #ddd;
  margin: 0 2em 2em 1em;
  overflow: auto;
}

blockquote {
  left: 1em;
  font-style: italic;
  color: #666;
  width: 80%;
  margin-bottom: 1em;
}

#footer {
    clear: both;
    color: #aaa;
    font-size: x-small;
}
#footer a, #footer a:link, #footer a:visited { color: #666; }
