.catalogue {
    padding-top: 2em;

    &-item {
      padding: 0;
    }
    &-title {
        margin-bottom: 0;
    }
    &-line {
        margin-top: 6em;
        width: 6em;
    }
}

h2 {
    margin-top: 1.2em;
    margin-bottom: 0;
}

.post p {
    text-align: left;
}
