---
layout: default
---
<h2><a href="">{{ page.title }}</a></h2>
<div class="byline">
  <p>{{ page.date | date:"%Y-%m-%d" }}&nbsp; &ndash; &nbsp;<a href="#disqus_thread"></a></p>
</div>
<div class="story">
  {{ content }}
</div>

{% comment %}
Hide this until we can style it nicely...

<div>
  <ul>
    {% if page.next %}
    <li>Later: <a href="{{ page.next.url }}">{{ page.next.title }}</a></li>
    {% endif %}
    {% if page.previous %}
    <li>Earlier: <a href="{{ page.previous.url }}">{{ page.previous.title }}</a></li>
    {% endif %}
  </ul>
</div>

<h2>Possibly related&hellip;</h2>
<div>
  <ul>
    {% for post in site.related_posts | limit:4 %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>

{% endcomment %}

<div class="comments-section">
  <h3 id="comments">Comments</h3>
  <script type="text/javascript">
    var disqus_identifier = "{{ page.url }}";
  </script>
  {% include disqus.html %}
</div>
